img {
    position: relative;
    width: 200px;
    margin: -100px 20px;
    height: auto;
    vertical-align: middle;
}
div.flex {
    margin: 50px;
}
.flex {
    align-items: center;
    overflow: hidden;
    display: flex;
    width: fit-content;
}

.center {
    text-align: center;
    margin: auto;
}
